<div class="container head">
    <a id="link_feed" href="/user/<%= id %>"><img id="user_image" src="<%= image %>" alt=""></a>
    <a id="edit" href="/myprofilepage/<%= id %>"><i class="fa-solid fa-gear"></i></i></a>
    <a id="logout" href="#"><i class="fa-solid fa-right-from-bracket"></i></a>
</div>