<div class="banner">
    <h1>JOB4U</h1>
    <p>IF YOU'RE LOOKING FOR A JOB</p>
    <p>OR</p>
    <P>YOU'RE LOOKING FOR PROFESSIONAL WORKERS TO HELP YOU OR SOLVE YOUR PROBLEMS </P>

    <p>YOU'RE IN THE RIGHT HAND,</p>

    <P>WE HAVE PROFESSIONAL WORKERS IN ALL THE FIELDS TO HELP YOU.</P>
</div>