<div class="homepage-footer">
    <video autoplay loop muted>
        <source src="https://videos.pexels.com/video-files/4053047/4053047-uhd_3840_2160_25fps.mp4" />
    </video>

    <div class="home-btns">
        <a href="/worker-join">
           JOIN TO FIND A JOB
        </a>
        <a href="/customer-join">
           JOIN TO LOOK FOR A WORKER
        </a>
    </div>
</div>