body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
}

.left , .right {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
}

.salary{
    justify-content: center;
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 20px;
}

span {
    font-weight: bold;
    color: orange;
}

.back {
    width: 100vw;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 40px;
    color: #000000;
    margin-bottom: 20px;
}